In [16]:
import pandas as pd

In [34]:
dados = pd.read_csv('Data/Sales.csv')

In [38]:
dados

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
0,581482,12/9/2019,22485,Set Of 2 Wooden Market Crates,21.47,12,17490.0,United Kingdom
1,581475,12/9/2019,22596,Christmas Star Wish List Chalkboard,10.65,36,13069.0,United Kingdom
2,581475,12/9/2019,23235,Storage Tin Vintage Leaf,11.53,12,13069.0,United Kingdom
3,581475,12/9/2019,23272,Tree T-Light Holder Willie Winkie,10.65,12,13069.0,United Kingdom
4,581475,12/9/2019,23239,Set Of 4 Knick Knack Tins Poppies,11.94,6,13069.0,United Kingdom
...,...,...,...,...,...,...,...,...
536345,C536548,12/1/2018,22168,Organiser Wood Antique White,18.96,-2,12472.0,Germany
536346,C536548,12/1/2018,21218,Red Spotty Biscuit Tin,14.09,-3,12472.0,Germany
536347,C536548,12/1/2018,20957,Porcelain Hanging Bell Small,11.74,-1,12472.0,Germany
536348,C536548,12/1/2018,22580,Advent Calendar Gingham Sack,16.35,-4,12472.0,Germany
536349,C536548,12/1/2018,22767,Triple Photo Frame Cornice,20.45,-2,12472.0,Germany

In [42]:
dados.head(2)

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
0,581482,12/9/2019,22485,Set Of 2 Wooden Market Crates,21.47,12,17490.0,United Kingdom
1,581475,12/9/2019,22596,Christmas Star Wish List Chalkboard,10.65,36,13069.0,United Kingdom

In [46]:
dados.columns

Index(['TransactionNo', 'Date', 'ProductNo', 'ProductName', 'Price',
       'Quantity', 'CustomerNo', 'Country'],
      dtype='object')

In [48]:
dados.index

RangeIndex(start=0, stop=536350, step=1)

In [54]:
dados['Price']

0         21.47
1         10.65
2         11.53
3         10.65
4         11.94
          ...
536345    18.96
536346    14.09
536347    11.74
536348    16.35
536349    20.45
Name: Price, Length: 536350, dtype: float64

In [57]:
dados[['ProductName', 'Quantity' ,'Price' ]]

                                ProductName  Quantity  Price
0             Set Of 2 Wooden Market Crates        12  21.47
1       Christmas Star Wish List Chalkboard        36  10.65
2                  Storage Tin Vintage Leaf        12  11.53
3         Tree T-Light Holder Willie Winkie        12  10.65
4         Set Of 4 Knick Knack Tins Poppies         6  11.94
...                                     ...       ...    ...
536345         Organiser Wood Antique White        -2  18.96
536346               Red Spotty Biscuit Tin        -3  14.09
536347         Porcelain Hanging Bell Small        -1  11.74
536348         Advent Calendar Gingham Sack        -4  16.35
536349           Triple Photo Frame Cornice        -2  20.45

[536350 rows x 3 columns]

In [61]:
dados.iloc[1:4]

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
1,581475,12/9/2019,22596,Christmas Star Wish List Chalkboard,10.65,36,13069.0,United Kingdom
2,581475,12/9/2019,23235,Storage Tin Vintage Leaf,11.53,12,13069.0,United Kingdom
3,581475,12/9/2019,23272,Tree T-Light Holder Willie Winkie,10.65,12,13069.0,United Kingdom

In [63]:
dados.iloc[2, 2]

'23235'

In [75]:
def calculate_total(dados: pd.DataFrame) -> None:

    dados['total'] = dados['Price'] * dados['Quantity']

In [77]:
dados

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country,total
0,581482,12/9/2019,22485,Set Of 2 Wooden Market Crates,21.47,12,17490.0,United Kingdom,257.64
1,581475,12/9/2019,22596,Christmas Star Wish List Chalkboard,10.65,36,13069.0,United Kingdom,383.40
2,581475,12/9/2019,23235,Storage Tin Vintage Leaf,11.53,12,13069.0,United Kingdom,138.36
3,581475,12/9/2019,23272,Tree T-Light Holder Willie Winkie,10.65,12,13069.0,United Kingdom,127.80
4,581475,12/9/2019,23239,Set Of 4 Knick Knack Tins Poppies,11.94,6,13069.0,United Kingdom,71.64
...,...,...,...,...,...,...,...,...,...
536345,C536548,12/1/2018,22168,Organiser Wood Antique White,18.96,-2,12472.0,Germany,-37.92
536346,C536548,12/1/2018,21218,Red Spotty Biscuit Tin,14.09,-3,12472.0,Germany,-42.27
536347,C536548,12/1/2018,20957,Porcelain Hanging Bell Small,11.74,-1,12472.0,Germany,-11.74
536348,C536548,12/1/2018,22580,Advent Calendar Gingham Sack,16.35,-4,12472.0,Germany,-65.40
536349,C536548,12/1/2018,22767,Triple Photo Frame Cornice,20.45,-2,12472.0,Germany,-40.90